<div class="stepsdemo-content">
	<p-card>
		<ng-template pTemplate="title">
			Student Information
		</ng-template>
		<ng-template pTemplate="subtitle">
			Choose your student
		</ng-template>
		<ng-template pTemplate="content">
			<div class="p-fluid">
				<form [formGroup]="studentForm" class="p-field">
					<label for="courseName">Student Name</label>
					<p-autoComplete
						formControlName="name"
						[suggestions]="studentNames"
						(completeMethod)="search($event)"
					></p-autoComplete>
				</form>
			</div>
		</ng-template>
		<ng-template pTemplate="footer">
			<div class="p-grid p-nogutter p-justify-between">
				<p-button
					label="Back"
					(onClick)="prevPage()"
					icon="pi pi-angle-left"
				></p-button>
				<p-button
					label="Next"
					(onClick)="nextPage()"
					icon="pi pi-angle-right"
					iconPos="right"
					[disabled]="studentForm.invalid"
				></p-button>
			</div>
		</ng-template>
	</p-card>
</div>
