<p-toast></p-toast>

<div class="card">
  <p-toolbar styleClass="p-mb-4">
    <ng-template pTemplate="left">
      <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2"
              (click)="openNew()"></button>
    </ng-template>
  </p-toolbar>

  <p-table #dt [value]="teachers" [rows]="10" [paginator]="true"
           [globalFilterFields]="['name','email','designation', 'contact']"
           [(selection)]="selectedProducts" [rowHover]="true" dataKey="id"
           currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
           [showCurrentPageReport]="true">
    <ng-template pTemplate="caption">
      <div class="p-d-flex p-ai-center p-jc-between">
        <h5 class="p-m-0">Manage Students</h5>
        <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="onSearch(dt, $event)" placeholder="Search..."/>
                </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 3rem">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th pSortableColumn="name">Name
          <p-sortIcon field="name"></p-sortIcon>
        </th>
        <th pSortableColumn="email">Email
          <p-sortIcon field="email"></p-sortIcon>
        </th>
        <th pSortableColumn="contact">Contact
          <p-sortIcon field="contact"></p-sortIcon>
        </th>
        <th pSortableColumn="designation">Designation
          <p-sortIcon field="designation"></p-sortIcon>
        </th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
      <tr>
        <td>
          <p-tableCheckbox [value]="product"></p-tableCheckbox>
        </td>
        <td>{{product.firstName}} {{product.lastName}}</td>
        <td>{{product.email}}</td>
        <td>{{product.phoneNo}}</td>
        <td>{{product.designation}}</td>
        <td>
          <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2"
                  (click)="editProduct(product)"></button>
          <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                  (click)="deleteProduct(product)"></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="p-d-flex p-ai-center p-jc-between">
        In total there are {{teachers ? teachers.length : 0 }} products.
      </div>
    </ng-template>
  </p-table>
</div>

<p-dialog [(visible)]="teacherDialog" [style]="{width: '450px'}" header="Teacher Details" [modal]="true"
          styleClass="p-fluid">
  <ng-template pTemplate="content">
    <div class="p-field">
      <label for="firstName">First Name</label>
      <input type="text" pInputText id="firstName" [(ngModel)]="teacher.firstName" required autofocus/>
      <small class="p-invalid" *ngIf="submitted && !teacher.firstName">Name is required.</small>
    </div>
    <div class="p-field">
      <label for="lastName">Last Name</label>
      <input type="text" pInputText id="lastName" [(ngModel)]="teacher.lastName" required autofocus/>
      <small class="p-invalid" *ngIf="submitted && !teacher.lastName">Name is required.</small>
    </div>
    <div class="p-field">
      <label for="email">email</label>
      <input type="text" pInputText id="email" [(ngModel)]="teacher.email" required autofocus/>
      <small class="p-invalid" *ngIf="submitted && !teacher.lastName">Name is required.</small>
    </div>
    <div class="p-field">
      <div class="p-field">
        <label for="contactNo">Contact No.</label>
        <input type="text" pInputText id="contactNo" [(ngModel)]="teacher.phoneNo" required autofocus/>
        <small class="p-invalid" *ngIf="submitted && !teacher.phoneNo">Name is required.</small>
      </div>
      <div class="p-field">
        <div class="p-field">
          <label for="designation">Designation</label>
          <input type="number" pInputText id="designation" [(ngModel)]="teacher.designation" required autofocus/>
          <small class="p-invalid" *ngIf="submitted && !teacher.designation">Name is required.</small>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
    <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveProduct()"></button>
  </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
