<p-toast></p-toast>

<div class="card">
  <p-toolbar styleClass="p-mb-4">
    <ng-template pTemplate="left">
      <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2"
              (click)="openNew()"></button>
    </ng-template>
  </p-toolbar>

  <p-table #dt [value]="exams" [rows]="10" [paginator]="true"
           [globalFilterFields]="['name','totalMark','obtainedMark', 'examType']"
           [(selection)]="selectedProducts" [rowHover]="true" dataKey="id"
           currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
           [showCurrentPageReport]="true">
    <ng-template pTemplate="caption">
      <div class="p-d-flex p-ai-center p-jc-between">
        <h5 class="p-m-0">Manage Exams</h5>
        <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="onSearch(dt, $event)" placeholder="Search..."/>
                </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 3rem">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th pSortableColumn="name">Name
          <p-sortIcon field="name"></p-sortIcon>
        </th>
        <th pSortableColumn="totalMark">Total Mark
          <p-sortIcon field="totalMark"></p-sortIcon>
        </th>
        <th pSortableColumn="obtainedMark">Obtained Marks
          <p-sortIcon field="obtainedMark"></p-sortIcon>
        </th>
        <th pSortableColumn="examType">Exam Type
          <p-sortIcon field="examType"></p-sortIcon>
        </th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
      <tr>
        <td>
          <p-tableCheckbox [value]="product"></p-tableCheckbox>
        </td>
        <td>{{product.title}}</td>
        <td>{{product.totalMark}}</td>
        <td>{{product.obtainedMark}}</td>
        <td>{{product.examTypeEnum}}</td>
        <td>
          <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2"
                  (click)="editProduct(product)"></button>
          <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                  (click)="deleteProduct(product)"></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="p-d-flex p-ai-center p-jc-between">
        In total there are {{exams ? exams.length : 0 }} products.
      </div>
    </ng-template>
  </p-table>
</div>

<p-dialog [(visible)]="teacherDialog" [style]="{width: '450px'}" header="Exam Details" [modal]="true"
          styleClass="p-fluid">
  <ng-template pTemplate="content">
    <div class="p-field">
      <label for="name">Course Title</label>
      <input type="text" pInputText id="name" [(ngModel)]="exam.title" required autofocus/>
      <small class="p-invalid" *ngIf="submitted && !exam.title">Name is required.</small>
    </div>
    <div class="p-field">
      <label for="totalMark">Total Mark</label>
      <input type="number" pInputText id="totalMark" [(ngModel)]="exam.totalMark" required autofocus/>
      <small class="p-invalid" *ngIf="submitted && !exam.totalMark">Name is required.</small>
    </div>
    <div class="p-field">
      <label for="obtainedMark">Obtained Mark</label>
      <input type="number" pInputText id="obtainedMark" [(ngModel)]="exam.obtainedMark" required autofocus/>
      <small class="p-invalid" *ngIf="submitted && !exam.obtainedMark">Name is required.</small>
    </div>
    <div class="p-field">
      <div class="p-field">
        <label for="examType">Exam Type</label>
        <input type="number" pInputText id="examType" [(ngModel)]="exam.examTypeEnum" required autofocus/>
        <small class="p-invalid" *ngIf="submitted && !exam.examTypeEnum">Name is required.</small>
      </div>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
    <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveProduct()"></button>
  </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
